[project]
	description = Licensing Maven Plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Idcmp (idcmp)
[access "refs/for/refs/*"]
	read = group user/Idcmp (idcmp)
	push = group user/Idcmp (idcmp)
	label-Code-Review = -2..+2 group user/Idcmp (idcmp)
	label-Verified = -1..+1 group user/Idcmp (idcmp)
	rebase = group user/Idcmp (idcmp)
	removeReviewer = group user/Idcmp (idcmp)
	submit = group user/Idcmp (idcmp)
[access "refs/heads/*"]
	read = group user/Idcmp (idcmp)
	create = group user/Idcmp (idcmp)
	push = +force group user/Idcmp (idcmp)
	pushMerge = group user/Idcmp (idcmp)
[access "refs/tags/*"]
	push = +force group user/Idcmp (idcmp)
	pushTag = group user/Idcmp (idcmp)
	pushSignedTag = group user/Idcmp (idcmp)
